<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<nav th:replace="fragments :: header"></nav>



<div class="">

    <p th:text="${'Name: ' + session.name}"></p>
    <p th:text="${'e-mail: ' + session.email}"></p>
    <p th:text="${'Phone Number: ' + session.phone}"></p>
    <p th:text="${'Languages for your services: ' + session.languages + ' '}"></p>
</div>

<a th:href="'/provider/settings?providerId=' + ${session.provider.id}">Settings</a>
</body>
</html>