<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">



<nav th:replace="fragments :: header"></nav>



<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label> <p th:text= "${'Set the languages in which you provide services, ' + session.name}"></p>
            <input type = "hidden" th:field="${providerLanguages.provider}">
            <select th:field = "${providerLanguages.languages}">
                <option th:each="languages : ${T(org.launchcode.mentalhealthcareaccess.models.Languages).values()}"
                        th:value="${languages}"
                        th:text="${languages.displayValue}">
                </option>
            </select>
        </label>
    </div>
        <input type="submit" value="Save" />
</form>
</body>
</html>