<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<body class="container  body-content">
<h1>Provider Sign-up</h1>



<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Provider or Company Name</label>
        <input class="form-control" th:field="${provider.name}" />
        <span th:errors="${provider.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="lastName">Last Name</label>
        <input class="form-control" th:field="${provider.lastName}" />
        <span th:errors="${provider.lastName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="phoneNumber">Phone Number</label>
        <input class="form-control" th:field="${provider.phoneNumber}" />
        <span th:errors="${provider.phoneNumber}" class="error"></span>
    </div>

    <div class="form-group">
        <label>e-mail
            <input class="form-control" th:field="${registerFormDTO.email}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password} " type="password"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password"/>
        </label>
    </div>

    <input type="submit" value="Sign-up" />
</form>

</body>
</html>