<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">



<nav th:replace="fragments :: header"></nav>



<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="companyName">Company Name</label>
        <input class="form-control" th:field="${registerFormDTO.companyName}" />
        <span th:errors="${registerFormDTO.companyName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="firstName">Provider First name (only if you did not use a Company Name)</label>
        <input class="form-control" th:field="${registerFormDTO.firstName}" />
        <span th:errors="${registerFormDTO.firstName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="lastName">Last Name (only if you did not use a Company Name)</label>
        <input class="form-control" th:field="${registerFormDTO.lastName}" />
        <span th:errors="${registerFormDTO.lastName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="phoneNumber">Phone Number</label>
        <input class="form-control" th:field="${registerFormDTO.phoneNumber}" />
        <span th:errors="${registerFormDTO.phoneNumber}" class="error"></span>
    </div>

    <div class="form-group">
        <label>e-mail
            <input class="form-control" th:field="${registerFormDTO.email}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.email}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password} " type="password"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password"/>
        </label>
    </div>

    <input type="submit" value="Sign-up" />
</form>

</body>
</html>