<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="#{loginHeading}"></h1>
<div>
    <span th:text="#{signupText}"></span>
    <a href="/user/signup" th:text="#{here}"></a><span th:text="."></span>
</div>
<form method="post">
    <div>
        <label th:for="email" th:text="#{email}"></label>
        <input th:field="${userLoginFormDTO.email}" th:type="email"/>
        <span th:errors="${userLoginFormDTO.email}"></span>
    </div>
    <div>
        <label th:for="password" th:text="#{password}"></label>
        <input th:field="${userLoginFormDTO.password}" th:type="password"/>
        <span th:errors="${userLoginFormDTO.password}"></span>
    </div>
    <button type="submit" th:text="#{lButton}"/></button>
</form>
</body>
</html>