<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="#{signupHeading}"></h1>

<div>
    <span th:text="#{loginText}" ></span>
    <a href="/user/login" th:text="#{here}" ></a><span th:text="."></span>
</div>
<form method="post">
    <div>
        <label th:for="firstName" th:text="#{fName}"></label>
        <input th:field="${userSignupFormDTO.firstName}"/>
        <span th:errors="${userSignupFormDTO.firstName}"></span>
    </div>
    <div>
        <label th:for="lastName" th:text="#{lName}"></label>
        <input th:field="${userSignupFormDTO.lastName}"/>
        <span th:errors="${userSignupFormDTO.lastName}"></span>
    </div>
    <div>
        <label th:for="email" th:text="#{email}"></label>
        <input th:field="${userSignupFormDTO.email}"/>
        <span th:errors="${userSignupFormDTO.email}"></span>
    </div>
    <div>
        <label th:for="password" th:text="#{password}"></label>
        <input type="password" th:field="${userSignupFormDTO.password}"/>
        <span th:errors="${userSignupFormDTO.password}"></span>
    </div>
    <div>
        <label th:for="verifyPassword" th:text="#{verifyPw}"></label>
        <input type="password" th:field="${userSignupFormDTO.verifyPassword}"/>
        <span th:errors="${userSignupFormDTO.verifyPassword}"/>
    </div>
    <button th:text="#{sButton} "type="submit"/></button>
</form>
</body>
</html>

